@charset "UTF-08";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif ;
    border: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.9;
    color: #191c03;
}

a:hover {
opacity: 1;
}

/* HEADER */

header {
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header img {
    width: 200px;
}

header nav {
    margin-right: 20px;
}

header nav ul {
    display: flex;
    gap: 20px;
    font-size: 0.8rem;
}


/* Fim do HEADER */

/* HERO */

.hero {
    background-image: url(../img/hero.jpg);
    background-size: cover;
    min-height: 100vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    padding: 0px 20px;
}

.hero h1 {
    font-size: 3.2rem;
}

.hero h3 {
    font-size: 2rem;
}

.hero .btn {
    font-size: 1.2rem;
    background-color: #fff;
    padding: 20px 50px;
    border-radius: 7px;
    transition: all 0.3s ease;
    text-transform: uppercase;
}

.hero .btn:hover {
    letter-spacing: 0.2px;
}

.hidden-h1 {
    display: none;
}

/* Conheça o Hotel */

.conheca-o-hotel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    gap: 35px;
}

.conheca-o-hotel h3 {
    font-size: 2rem;
    text-align: center;
    color: #191c03;
}

.conheca-o-hotel p {
    max-width: 800px;
    text-align: center;
    color: #191c03;
}

.conheca-o-hotel hr {
    width: 11rem;
    height: 2px;
    background-color: #191c03;
    margin-bottom: 70px;
}

.conheca-o-hotel .grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.conheca-o-hotel .grid li {
    height: 570px;
    padding: 20px;
    border-radius: 4px;
    background-clip: content-box;
    background-size: cover;
    background-position: center;
}
.conheca-o-hotel .grid li.small {
    flex-basis: 40%;
}

.conheca-o-hotel .grid li.large {
    flex-basis: 60%;
}



/* Fim Conheça o Hotel */
/* Características */

.caracteristicas {
    background-color: #191c03;;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 50px;
    gap: 35px;
}

.caracteristicas h3 {
    font-size: 2rem;
    text-align: center;
    color: #fff;
}

.caracteristicas p {
    max-width: 800px;
    text-align: center;
    color: #fff;
}

.caracteristicas ul li h4 {
    color: #c3c63b;
    font-size: 1.5rem;
    margin-bottom: 35px;
}

.caracteristicas hr {
    width: 11rem;
    height: 2px;
    background-color:  #fff;;
}

.caracteristicas .grid {
    width: 100%;
    display: flex;
}

.caracteristicas .grid li {
    padding: 0 30px;
    text-align: center;
}

.caracteristicas .grid li .fas {
    color: #c3c63b;
    font-size: 30px;
    margin-bottom: 10px;
}


/* Fim Características */

/* NEWSLETTER */

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 50px;
    gap: 35px;
}

.newsletter h3 {
    font-size: 2rem;
    color: #191c03;
}

.newsletter p {
    max-width: 800px;
    text-align: center;
    color: #191c03;
}

.newsletter hr {
    width: 11rem;
    height: 2px;
    background-color: #c3c63b;
}

.newsletter form {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    max-width: 800px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.newsletter form label {
    font-size: 1.5rem;
}

.newsletter form button {
    width: 140px;
    height: 55px;
    padding: 5px;
    background: #c3c63b;
    color: #fff;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.newsletter form input {
    padding: 15px;
    border: 1px solid #c3c63b;
    width: 100%;
    outline: none;
}

/* Fim NewsLetter */
/* Footer */

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #191c03;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

footer ul {
    display: flex;
    gap: 25px;
    margin-bottom: 25px;
}

footer ul li a{
    color: #fff;
    width: 50px;
    height: 50px;
    transition: all .5s;
}

footer p {
    font-size: 2rem;
}

footer ul li a .fab {
    font-size: 2rem;
}

@media (max-width:750px) {
    footer p {
        font-size: 1.6rem;
    }
}

@media (max-width:450px) {
    footer p {
        font-size: 1rem;
    }
}


/* Fim Footer */

/* Media Queries */

@media (max-width:1000px) {
    .conheca-o-hotel .grid li.small, .conheca-o-hotel .grid li.large {
        flex-basis: 100%;
    }

    .conheca-o-hotel .grid li {
        height: 580px;  
    }
}

@media (max-width:850px) {
    .caracteristicas .grid{
        flex-direction: column;
        gap: 50px;
    }

    .caracteristicas .grid li h4 {
        margin-bottom: 10px;
    } 

    
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }

    header nav {
        margin-top: 10px;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero h3 {
        font-size: 1.5rem;
    }

    .hero .btn {
        padding: 20px 40px;
        font-size: 1rem;
    }

    .conheca-o-hotel {
        padding: 100px 10px;
    }

    .conheca-o-hotel .grid li {
        height: 270px;
    }

    .newsletter form {
        width: 90vw;
    }

    .newsletter form input {
        width: 90%;
        max-width: 600px;
    }
}

@media (max-width:360px)  {
    .show-h1{
        display: none;
    }

    .hidden-h1 {
        display: block;
    }

    .hero .btn {
        padding: 15px 35px;
        font-size: 0.8rem;
    }

    .conheca-o-hotel .grid li {
        height: 200px;
    }
}

/* Fim Media Queries */