@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 62.5%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0.5rem;
    padding-left: 0.7rem;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all .1s;
}

#logo, a {
    text-decoration: none;
    color: #000;
}

#logo {
    font-size: 3.2rem;
}

#menu {
    display: flex;
    gap: 10px;
    font-size: 1.8rem;
}

.menu-item {
    list-style: none;
    font-weight: 200;
    margin-top: 10px;
    padding: 5px;
    border-radius: 8px;
}

.nav-btn {
    display: none;
    font-size: 1.8rem;
    background-color: rgba(0, 0, 0, 0.01);
    cursor: pointer;
    padding-right: 10px;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width:1000px) {
    header {
        display: block;
        padding-left: 0;
    }

    #logo {
        padding-left: 1rem;
    }

    #menu {
        font-size: 1.5rem;
        height: 30px;
        margin-bottom: 15px;
    }

    .menu-item {
        padding: 1px;
    }
    
    .menu-item:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

    nav {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
}

@media (max-width:500px) {
    #nav {
        display: block;
        position: absolute;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }

    .nav-btn {
       display: flex;
    }

    #hamburguer {
        border-top: 2px solid;
        width: 20px;
        z-index: 11;
        transition: .25s;
    }

    .on {
        color: white;
    }

    #hamburguer.on {
        border-top: none;
    }

    #hamburguer.on::before {
        position: absolute;
        transform: rotate(45deg);
    }

    #hamburguer.on::after {
        position: absolute;
        transform: rotate(-45deg);
    }

    #hamburguer::after, #hamburguer::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        margin-top: 5px;
        background-color: currentColor;
    }

    #nav.activate {
        display: block;
        width: 100vw;
        height: 100vh;
        position: absolute;
        background-color: #A3A1A8;
        top: 0;
        left: 0;
        z-index: 10;
        visibility: visible;
        overflow-y: auto;
    }

    #nav.activate #menu {
        display: block;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;      
    }

    #nav.activate #menu .menu-item {
        color: #fff;
        font-size: 4rem;
        text-align: center;
        margin-bottom: 50px;
    }

}

