@charset "UTF-8";

body{
    background-image: linear-gradient(to right, #FAF5DA, #F5D5C3);
}

main{
    background-color: white;
    width: 500px;
    border-radius: 7px;
    padding: 10px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 5px 5px  10px #AD8377;
}

h1{
    text-align: center;
    color: #C84036;
    text-shadow: 1px 1px 2.5px #AD8377;
}

h2{
    color: #6DA0B3;
}

p{
    text-align: justify;
}